.span-1 {
	width: 8.33333%;
	margin: 0 auto;
}

.span-2 {
	width: 16.66667%;
	margin: 0 auto;
}

.span-3 {
	width: 25.0%;
	margin: 0 auto;
}

.span-4 {
	width: 33.33333%;
	margin: 0 auto;
}

.span-5 {
	width: 41.33333%;
	margin: 0 auto;
}

.span-6 {
	width: 90%;;
	margin: 0 auto;
}

.span-7 {
	width: 58.33333%;
	margin: 0 auto;
}

.span-8 {
	width: 66.66667%;
	margin: 0 auto;
}

.span-9 {
	width: 75.0%;
	margin: 0 auto;
}

.span-10 {
	width: 83.33333%;
	margin: 0 auto;
}

.span-11 {
	width: 91.66667%;
	margin: 0 auto;
}

.span-12 {
   width: 100.0%;
   margin: 0 auto;
}

.full-container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.btn-group {
  display: block;
}

li.suggestionList {
  background-color: rgb(24, 188, 156);
}

li.suggestionList>a {
  color: white;
}
